.transfers-filters {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1019607843);
  padding: 20px 20px 7px 20px;
}

.transfers-filters__checkbox {
  margin: 10px 0 10px 0;
  width: 100%;
  text-transform: none;
  color: #4a4a4a;
  font-weight: 400;
  //   padding: 0 20px;
  :hover {
    background-color: #f1fcff;
  }
}

.transfers-filters__title {
  color: #4a4a4a;
}
