.sort-panel {
  width: 502px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.ant-radio-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}
