*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  background-color: #f1fcff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: uppercase;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

input,
button,
textarea {
  outline: none;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
#root {
  margin: 0 auto;
  min-width: 360px;
}
